[submodule "HMF2_S2310455002_3"]
	path = HMF2_S2310455002_3
	url = https://github.com/hmf2-ss2024/hmf2-assignment-3-stefanpenzinger
[submodule "HMF2_S2310455002_4"]
	path = HMF2_S2310455002_4
	url = https://github.com/hmf2-ss2024/hmf2-assignment-4-stefanpenzinger
[submodule "HMF2_S2310455002_5"]
	path = HMF2_S2310455002_5
	url = git@github.com:hmf2-ss2024/hmf2-assignment-5-stefanpenzinger.git
[submodule "HMF2_S2310455002_7"]
	path = HMF2_S2310455002_7
	url = git@github.com:hmf2-ss2024/hmf2-assignment-7-stefanpenzinger.git
[submodule "HMF2_S2310455002_8"]
	path = HMF2_S2310455002_8
	url = git@github.com:hmf2-ss2024/assignment-8-stefanpenzinger.git
[submodule "HMF2_S2310455002_9"]
	path = HMF2_S2310455002_9
	url = git@github.com:hmf2-ss2024/hmf2-assignment-9-stefanpenzinger.git
[submodule "HMF2_S2310455002_10"]
	path = HMF2_S2310455002_10
	url = git@github.com:hmf2-ss2024/hmf-assignment-10-stefanpenzinger.git
[submodule "HMF2_S2310455002_11"]
	path = HMF2_S2310455002_11
	url = git@github.com:hmf2-ss2024/hmf-assignment-10-stefanpenzinger.git
